# Temporary Python files
*.pyc
*.egg-info
__pycache__
.ipynb_checkpoints

# Temporary OS files
Icon*

# Temporary virtual environment files
/.cache/
/.venv/

# Temporary server files
.env
*.pid

# Generated documentation
/docs/gen/
/docs/apidocs/
/site/
/*.html
/*.rst
/docs/*.png

# Google Drive
*.gdoc
*.gsheet
*.gslides
*.gdraw

# Testing and coverage results
/.coverage
/.coverage.*
/htmlcov/
/xmlreport/
/pyunit.xml
/tmp/
*.tmp

# Build and release directories
/build/
/dist/
*.spec

# Sublime Text
*.sublime-workspace

# Eclipse
.settings
