[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

Flask = "*"
Markdown = "<3"

[dev-packages]

# Linters
flake8 = "~=3.7.9"

# Testing
nose = "*"

# Reports
coveragespace = "~=4.1"

# Documentation
mkdocs = "~=0.17.2"
docutils = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
