[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

Flask = "~=0.10.1"
Markdown = "*"

[dev-packages]

flake8 = "~=2.1"

nose = "*"

"coverage.space" = "*"

mkdocs = "~=0.17.2"
docutils = "*"

twine = "*"

sniffer = "*"
